.primary-bg{
    background-color: #27AE60;
}

.primary-btn{
    @apply primary-bg text-2xl text-white px-6 py-2 rounded-2xl;
}
.primary-btn2{
    @apply bg-white text-2xl px-6 py-2 rounded-2xl;
}

.menu-item{
    @apply py-10 px-5 inline-block;
}
.hero-heading{
    font-size: 144px;
}

.small-container {max-width: 1000px}

.dots-1 {width: 130px; height: 108px;background-image: url(static/img/dots-1.svg)}

.tika-text-pink {color: #FF3C8E}
.tika-text-primary, .nuxt-link-exact-active.menu-item {color: #27AE60}
.tika-text-orange {color: #F2994A}
.tika-text-blue {color: #3300FF}